<!--
<% provide(:title, "Log in") %>

<div id="parent">


<h1>Log in</h1>

<h3><%= flash[:notice] %></h3>

<div id="form_login">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :name, class: "form_label" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :password, class: "form_label" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", new_user_path %></p>
</div>
</div>
 -->

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('assets/bg-01.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="/stores">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape" style="content: url('assets/logo.jpg'); height: 130px; weight: 130px "></i>
					</span>
					<br>
					<span class="login100-form-title p-b-34 p-t-27">
						J.T.S
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>
</body>
</html>
