

<h1>Welcome to <%= "#{@store.branch_name}" %></h1>

<% if @store.id == 1 %>
<%= image_tag "queens_branch.jpg"%>
<% elsif  @store.id == 2%>
<%= image_tag ("mahanttan_branch.png") %>
<% else %>
<%= image_tag ("long_island_branch.png") %>
<% end %>


  <%= button_to "Adopt a Pet", pets_path, {method: "get"} %>
  <%= button_to "Give a Pet", new_pet_path, {method: "get"} %>
