

<div class="container-login200" style="background-image: url( <%= asset_path('bg-03.jpg') %>);">
  <div class="row">
  <div class="col-sm-12">
      <h1 class="branch">Giving Pet Form</h1>

 <br>

    <div class="form-login box text-center">


            <%= form_for @pet do |f| %>
                <div class="form-group">
                  <%= f.text_field :name, autofocus: true, placeholder:"Name",class:"form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label "Animal Type"%>
                  <%= f.select("animal_type", ["Cat", "Dog", "Rabbit", "Hamster"]) %>
                </div>

                <div class="form-group">
                  <%= f.text_field :breed, placeholder:"Breed",class:"form-control" %>
                </div>

                <div class="form-group">
                  <%= f.text_field :age, placeholder:"Age",class:"form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :gender%>
                  <%= f.select("gender", ['Male', 'Female']) %><br>
                </div>



                <div class="actions">
                  <%= f.submit "give",class:"btn btn-lg btn-elegant" %>
                </div>
              <% end %>
</div>
          </div>
  </div>
          </div>
