<div class="container-login200" style="background-image: url( <%= asset_path('bg-03.jpg') %>);">
<div class="container text-center petform"><h1>Giving Pet Form</h1>

<%= form_for @pet do |f| %>

  <%= f.label :name%>
  <%= f.text_field :name %><br>
  <br>
  <%= f.label "Animal Type"%>
  <%= f.select("animal_type", ["Cat", "Dog", "Rabbit", "Hamster"]) %><br>
  <br>
  <%= f.label :breed%>
  <%= f.text_field :breed %><br>
  <br>
  <%= f.label :age%>
  <%= f.number_field :age %><br>
  <br>
  <%= f.label :gender%>
  <%= f.select("gender", ['Male', 'Female']) %><br>
  <br>
  <%= f.hidden_field :store_id %>
  <br>


  <%= f.submit "Give Your Pet",class: "btn btn-primary" %>
<% end %>
</div>
