<h1>Cat Adoption List</h1>

<style>
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color: #fff;
}
table#t01 th {
    background-color: black;
    color: white;
}
</style>
<table style="width:100%">
<tr>
  <th>Name</th>
  <th>Age</th>
  <th>Gender</th>
  <th>Picture</th>
  <th>Adoption</th>

</tr>
<% @cats.each do |cat| %>
<tr>
  <td><%= cat.name %></td>
  <td><%= cat.age %></td>
  <td><%= cat.gender %></td>
  <td><%= cat.gender %></td>
  <td><%= link_to "More Detail", pet_path(cat) %></td>
</tr>
<% end %>
</table>



<%= link_to "Adopt Different Pets", pets_path %>
