<div class="container" id="choose_pet">
<div class="row">
      <div class="col-sm-6">
            <div class="single-pet-wrapper">
                <!-- Product Image -->
                <div class="product-img">
                    <%= image_tag ("choose_cat.jpg"),:class=>"img-responsive" %>
                </div>
                <div class="product-description">
                    <%= link_to "Cat", storepets_path(:type=>"Cat") %>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
              <div class="single-pet-wrapper">
                  <!-- Product Image -->
                  <div class="product-img">
                      <%= image_tag ("choose_dog.jpg"),:class=>"img-responsive" %>
                  </div>
                  <div class="product-description">
                      <%= link_to "Dog", storepets_path(:type=>"Dog") %>
                  </div>
              </div>
          </div>

          <div class="col-sm-6">
                <div class="single-pet-wrapper">
                    <!-- Product Image -->
                    <div class="product-img">
                        <%= image_tag ("choose_rabbit.jpg"),:class=>"img-responsive" %>
                    </div>
                    <div class="product-description">
                        <%= link_to "Rabbit", storepets_path(:type=>"Rabbit") %>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                  <div class="single-pet-wrapper">
                      <!-- Product Image -->
                      <div class="product-img">
                          <%= image_tag ("choose_hamster.jpg"),:class=>"img-responsive" %>
                      </div>
                      <div class="product-description">
                        <%= link_to "Hamster", storepets_path(:type=>"Hamster") %>
                      </div>
                  </div>
              </div>


  </div>
</div>
