<div class="container" id="choose_pet">
<div class="row">
      <div class="col-sm-3 ">
            <div class="card card-cascade text-center">
                <!-- Product Image -->
                <div class="product-img">
                    <%= image_tag ("choose_cat.jpg") %>
                </div>
                <div class="product-description">
                    <%= link_to "Cat", storepets_path(:type=>"Cat"),:class=>"btn btn-elegant" %>
                </div>
            </div>
        </div>

        <div class="col-lg-3 text-center">
              <div class="card card-cascade text-center">
                  <!-- Product Image -->
                  <div class="product-img">
                      <%= image_tag ("choose_dog.jpg") %>
                  </div>
                  <div class="product-description">
                      <%= link_to "Dog", storepets_path(:type=>"Dog"),:class=>"btn btn-elegant" %>
                  </div>
              </div>
          </div>

          <div class="col-lg-3 text-center">
                <div class="card card-cascade text-center">
                    <!-- Product Image -->
                    <div class="product-img">
                        <%= image_tag ("choose_rabbit.jpg") %>
                    </div>
                    <div class="product-description">
                        <%= link_to "Rabbit", storepets_path(:type=>"Rabbit"),:class=>"btn btn-elegant" %>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 text-center">
                  <div class="card card-cascade text-center">
                      <!-- Product Image -->
                      <div class="product-img">
                          <%= image_tag ("choose_hamster.jpg") %>
                      </div>
                      <div class="product-description">
                        <%= link_to "Hamster", storepets_path(:type=>"Hamster"),:class=>"btn btn-elegant" %>
                      </div>
                  </div>
              </div>


  </div>
</div>
