
<div class="container text-center">
  <br>
  <h1 class="text-center">Pet Adoption List</h1>
  <br>
<div class="row ">
     <% @pets.each do |pet| %>
                            <!-- Single Product -->
                            <div class="col-sm-4">
                                <div class="single-pet-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                      <% if pet.image %>
                                      <a href=<%= "pets/#{pet.id}" %>>
                                        <%= image_tag (pet.image) %>
                                          </a>
                                        <% end %>

                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span><%= pet.age %> years old</span>
                                        <a href=<%= "pets/#{pet.id}" %>>
                                            <h6><%= pet.name %></h6>
                                        </a>
                                        <!-- <p class="product-price"><%= pet.gender %></p> -->

                                        <!-- Hover Content -->

                                    </div>
                                </div>
                            </div>

<% end %>
      <div class="container text-center"></div>
      <%= link_to "Adopt Different Pets", pets_path,class:'btn btn-big btn-primary' %>
      </div>
</div>
</div>
