<h1>hello <%= @pet.name %></h1>


<p><%= @pet.age %></p>
<p><%= @pet.breed %></p>
<p><%= @pet.gender %></p>

<%= button_to "Adopt this Pet", adoption_pet_path, {method: :post, params:{pet_id:@pet.id}} %>
