<div class="container" id="show_pet">
<div class="row">
<div class="col-lg-8 text-center ">
<%= image_tag (@pet.image) %>
</div>
<div class="col-lg-4 text-center">
<h1><%= @pet.name %></h1>

<hr>
<span><%= @pet.age %> Years Old</span>
<hr>
<p>Breed: <%= @pet.breed %></p>
<hr>
<p><%= @pet.gender %></p>
<hr>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
        <% if @pet.status == true %>
        <%= button_to "Adopt this Pet", adoption_pet_path, {method: :post,class:'btn btn-elegant', params:{pet_id:@pet.id}} %>
        <% else %>
        <%= "This pet has been adopted by #{@pet.adoptors.last.name}"%>
        <% end %>
        </div>
        <div class="col-sm-6">
        <%= link_to "Adopt Other Pets", pets_path,class:'btn btn-elegant' %>
      </div>
     </div>
    </div>
</div>
</div>
</div>
</div>
