<div class="container" id="show_pet">
<div class="row ">
<div class="col-sm-12 text-center ">
<%= image_tag (@pet.image) %>
<h1><%= @pet.name %></h1>

<hr>
<span><%= @pet.age %> years old</span>
<hr>
<p>Breed: <%= @pet.breed %></p>
<hr>
<p><%= @pet.gender %></p>
<hr>
<% if @pet.status == true %>
<%= button_to "Adopt this Pet", adoption_pet_path, {method: :post,class:'btn btn-big btn-primary', params:{pet_id:@pet.id}} %>
<% else %>
<%= "This pet has been adopted by #{@pet.adoptors.last.name}"%>
<% end %>
</div>
</div>
</div>
