<div class="container" id="show_pet">
<h1>hello <%= @pet.name %></h1>


<p><%= @pet.age %></p>
<p><%= @pet.breed %></p>
<p><%= @pet.gender %></p>

<%= image_tag (@pet.image),:class=>"img-responsive" %>

<% if @pet.status == true %>
<%= button_to "Adopt this Pet", adoption_pet_path, {method: :post, params:{pet_id:@pet.id}} %>
<% else %>
<%= "This pet has been adopted by #{@pet.adoptors.last.name}"%>
<% end %>
</div>
