<h1>Welcome <%= @user.name%></h1>

<style>
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color: #fff;
}
table#t01 th {
    background-color: black;
    color: white;
}
</style>
<p>Adoption List</p>
<table style="width:100%">
<tr>
  <th>Pet Name</th>
  <th>Pet Type</th>
  <th>Pet Breed</th>
  <th>Age</th>
  <th>Gender</th>
  <th>Status</th>
</tr>
<% @user.adoptor_pets.each do |pet| %>
<tr>
  <td><%= pet.name %></td>
  <td><%= pet.animal_type %></td>
  <td><%= pet.breed %></td>
  <td><%= pet.age %></td>
  <td><%= pet.gender %></td>
  <td><%= "You have adopted #{pet.name} at #{pet.adoptions.last.adoption_date}" %></td>
</tr>
  <% end %>
</table>

<p>Given List</p>
<table style="width:100%">
  <tr>
    <th>Pet Name</th>
    <th>Pet Type</th>
    <th>Pet Breed</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Status</th>
  </tr>
<% @user.giver_pets.each do |pet| %>
<tr>
  <td><%= pet.name %></td>
  <td><%= pet.animal_type %></td>
  <td><%= pet.breed %></td>
  <td><%= pet.age %></td>
  <td><%= pet.gender %></td>
  <td><%= "You have given #{pet.name} at #{pet.givings.last.giving_date}" %></td>
</tr>
<% end %>
</table>

<%= link_to "Log out", logout_path, method: :delete %>
