<div class="container text-center">
<h1 class="top branch">Welcome <%= @user.name%></h1>

<h3 class="h3 top">Adoption List</h3>
<table style="width:100%">
  <thead class="black-white-text">
    <tr>
      <th>Pet Name</th>
      <th>Pet Type</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Store</th>
      <th>Status</th>
    </tr>
  </thead>
<% @uniq_pet.each do |pet| %>
<tr>
  <td><%= pet.name %></td>
  <td><%= pet.animal_type %></td>
  <td><%= pet.age %></td>
  <td><%= pet.gender %></td>
  <td><%= pet.store.branch_name %></td>
  <td><%= "You have adopted #{pet.name} at #{pet.adoptions.last.adoption_date}" %></td>
</tr>
  <% end %>
</table>
<br>
<br>
<h3 class="h3">Given List</h3>
<table style="width:100%">
  <thead class="black-white-text">
    <tr>
      <th>Pet Name</th>
      <th>Pet Type</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Store</th>
      <th>Status</th>
    </tr>
  </thead>
<% @user.giver_pets.each do |pet| %>

<tr>
  <td><%= pet.name %></td>
  <td><%= pet.animal_type %></td>
  <td><%= pet.age %></td>
  <td><%= pet.gender %></td>
  <td><%= pet.store.branch_name %></td>
  <% if pet.adoptors.last == current_user %>
  <td><%= "You have given #{pet.name} at #{pet.givings.last.giving_date}" %></td>
  <% else %>
  <td><%= "#{pet.adoptors.last.name} adopted #{pet.name} at  #{pet.adoptions.last.adoption_date}" %></td>
  <% end %>
</tr>
<% end %>
</table>

<div class="middle_link">
<%= link_to "Back to Home Page", stores_path%><br>


</div>
</div>
